<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>

    <!-- css -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <p class="inln-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum perspiciatis vero eos doloribus eum. Nisi exercitationem commodi eveniet earum fugiat! Similique reiciendis amet commodi necessitatibus, rem rerum a blanditiis. Nam quae rerum repellat corporis debitis ea, qui harum atque obcaecati laboriosam ipsa, minima nobis et enim dolore quasi nulla illo.</p>
</body>
</html>