/*
    Position and order of appearance: the order of which your CSS rules appear

    Specificity: an algorithm which determines which CSS selector has the strongest match

    Origin: the order of when CSS appears and where it comes from, whether that is a browser style, CSS from a browser extension, or your authored CSS

    Importance: some CSS rules are weighted more heavily than others, especially with the !important rule type


    specificity scoring
    ______________________

    id -> class -> element
    universal selector * does not add any specificity.
*/


* {
    /* universal selector- also known as wildcard, matches any element */
    color: rgb(31, 29, 30);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* type selector: matches html element directly, selects all <p> in this context */
p {
    font-family: 'Courier New', Courier, monospace;
}

/* class selector */
#awsm {
    /* set font size */
    font-size: 5rem;
    
    /* turn on border  */
    border: 1px solid;

    /* transform the text to uppercase */
    text-transform: uppercase;

    width: 320px;
}

.text-box {
    font-size: 2rem;
    color: white;
    background-color: blue;
    border: 50px solid black;


    /* box model properties */
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

/* attribute selector

    [data-type='primary'] {
        color: red;
}
*/

/* pseudo classes- html elements can have states either cuz they are being interacted with or one of their child element is in a ceratin state */
.cm-btn {
    color: white;
    background-color: rgb(206, 0, 0);
    border: 1px solid rgb(212, 44, 44);
    border-radius: 7px;

    width: 100px;
    height: 30px;

}

.cm-btn:hover {
    background-color: brown;
}
li::marker {
    color: rgb(43, 36, 36);
    font-size: 62px;
}

::selection {
    color:rgb(2, 255, 179);
}

/* nesting: grouping styles together*/
.card {
    width: 50vw;
    margin: auto;
    padding: 25px 25px;
    background-color:rgb(13, 13, 14);
    border-radius: 7px 7px;
    h2 {
        font-size: 54px;
        color: rgb(0, 110, 255);
    }
    p {
        color: white;
        font-size: 32px;
        font-style: italic;
    }
    blockquote {
        margin-left: 75%;
        color: white;
    }
}